{% extends "todo/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Simply Your Todos!</h1>
            <h4>Who <b>doesn't</b> love to work with organized tasks?</h4>
            <p>If you are one of those persons who loves to work with organized tasks then this is the simple tool for you to <b>Create,Update,Complete</b> and <b>Delete</b> your tasks.</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Start</a>
        </div>
    </div>

{% endblock %}
